:root {
    font-family:
        "Source Han Serif",
        "Noto Serif",
        "Noto Serif SC",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

p {
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}
.md-nav__list li {
    margin-top: 0.8rem;
}

.md-header--shadow {
    box-shadow: none;
}
