.highlight {
	box-shadow:inset 0 -10px 0 yellow, 0 2px 0 yellow;
	font-weight:bold;
}

.updownline {
	border-style:solid;
	border-width:2px 0px;
	border-color:powderblue;
	padding:20px;
	margin:20px 0;
}

.wavy {
    text-decoration: underline wavy red;
    text-decoration-thickness: 0.1em;
}

a.black {
	color:black;
	text-decoration: none;
    background-color:black;
}

a.black:hover {
    color:#fff;
    text-decoration: none;
    background-color:black;
}

u {
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
}

u.red {
	text-decoration: underline red;
	text-decoration-thickness: 0.1em;	
}

@media (max-width:1240px) {
	.page-wrapper {
		flex-direction: row !important;
	}

	.page-inner {
		width: 70% !important;
	}
	
	nav.intopic-toc {
		width: 20%;
	}

	.book-body .body-inner {
		overflow-y: visible;
	}
}

@media (max-width:400px) {
	.page-inner {
		width: 90% !important;
	}
	
	nav.intopic-toc {
		display: none;
	}
}

